{
"elementProps": {
"placeholder": "Pays de destination",
"disabled": false,
"options": [#foreach ($country in $countries)
{"value":"$country.code","label":"$country.label"}#if($foreach.hasNext),#end
#end]
},
"itemProps": {
"name": "destinationCountry",
"label": "Pays de destination"
},
"element": "SELECT",
"colWidth": 24,
"value": ""
}